# Django Secret Key
SECRET_KEY=your-secret-key-here

# Neon Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your-neon-password-here
DB_HOST=ep-morning-moon-apbbe5li-pooler.c-7.us-east-1.aws.neon.tech
DB_PORT=5432
DB_SSLMODE=require

# Debug mode
DEBUG=False

# Allowed hosts
ALLOWED_HOSTS=127.0.0.1,localhost,schoolcrm786.pythonanywhere.com
